* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('login-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-card {
    width: 90%;
    height: 80%;
    background: transparent;
    box-shadow: 0px 0px 5px 2px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-card .part-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-card .part-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.part-1 img {
    width: 500px;
    height: 500px;
    /* box-shadow: #ddd 0 0 10px; */
}

.part-2 p {
    font-size: 4rem;
    font-weight: bolder;
}

.part-2 p {
    margin-left: 50px;
}

.part-2 #portal {
    margin-left: 250px;
}

.card-container {
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container .cards {
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cards .card {
    width: 250px;
    height: 350px;
    margin: 50px auto;
    background-color: wheat;
    text-align: center;
    box-shadow: 5px 5px 12px gray, -5px -5px 12px gray;
    cursor: pointer;
    transition: all .5s;
}

.cards .card:hover {
    transform: scale(.95);
}

.card img {
    width: 250px;
    height: 250px;
}

.card p {
    width: 250px;
    height: 100px;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}